*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Bebas+Neue&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Kdam+Thmor+Pro&family=Lato:ital,wght@0,400;0,700;1,300;1,400;1,700&family=Mochiy+Pop+P+One&family=Open+Sans:wght@300;400;600;700&family=Oswald&family=Poppins:wght@300;400;600;700&family=Raleway:wght@300;400;700&family=Roboto:wght@300;400;500;900&family=Sedgwick+Ave&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Bebas+Neue&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Kdam+Thmor+Pro&family=Lato:ital,wght@0,400;0,700;1,300;1,400;1,700&family=Mochiy+Pop+P+One&family=Open+Sans:wght@300;400;600;700&family=Oswald:wght@400;500;600&family=Poppins:wght@300;400;600;700&family=Raleway:wght@300;400;700&family=Roboto:wght@300;400;500;900&family=Sedgwick+Ave&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(to right, #0d0d0d 0%, black 100%);
}

.container{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 0, 0, .5);
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    border-bottom: solid 3px #fff;
}

.logo{
    display: flex;
    cursor: pointer;
}
.iot{
    font-weight: bold;
    color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;

}
.ech{
    color: white;
    font-size: 2.2rem;
}

.nav{
    width: 50%;
    min-width: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__opcion{
    width: fit-content;
    min-width: 105px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 0px 10px;
    text-align: center;
    transition: color .1s ease;
}
.nav__opcion:hover{
    /* text-decoration: underline solid 3px white; */
    color: red;
}

.nav__opcion-inicio{
    display: none;
}


.menu{
    border: solid 1px black;
    border-radius: 5px;
    box-shadow: -2px 2px 10px rgb(0, 0, 0, .5);
    width: 30px;
    min-width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    display: none;
    /* display: none; */
}

/*SHOWCASE*/
.showcase{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    background-color: rgb(47, 44, 44);
    background-image: linear-gradient(to top, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .5) 100%),url(/img/showcase/nasa-Q1p7bh3SHj8-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.showcase__frase{
    margin-top: 120px;
    text-align: center;
    color: #fff;
}

.showcase__contenedor-imagenes{
    width: 85%;
    /* height: 300px; */
    /* background: rgba(0, 0, 0, 0.681); */
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.showcase-imagen{
    background-color: #f2f2f2;
    width: 140px;
    height: 260px;
    border-radius: 10px;
    /* border: solid 1px rgba(0, 0, 0, .9); */
    box-shadow: -1px 1px 5px 3px rgb(0, 0, 0, .5);
    transition: transform .3s ease;

}
.showcase-imagen:hover{
    z-index: 10;
    transform: scale(1.1);
    box-shadow: -3px 5px 10px 10px rgb(0, 0, 0, .5);
    

}

.showcase__imagen-1{
    width: 120px;
    height: 240px;
    background-image: url(/img/showcase/uno.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.showcase__imagen-2{
    background-image: url(/img/showcase/dos.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.showcase__imagen-3{
    width: 240px;
    height: 120px;
    background-image: url(/img/showcase/tres.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*SERVICIOS*/
.servicios{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 1);
}

.servicio__contenedor{
    height: 70vh;
    width: 85%;
    background-color: inherit;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.servicio__contenedor-imagen{
    background-image: url(/img/servicios/undraw_feeling_proud_qne1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.servicio__contenedor-items{
    background: inherit;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 30px;
}

.contenedor_texto{
    display: flex;
}

.servicio_texto{
    margin-left: 5px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

.numero{
    width: 19px;
    /* border: 1px solid black; */
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    color: #fff;
    box-shadow: -1px 1px 3px 2px rgb(0, 0, 0, .5);
}

/*MAPA*/
.ubicacion{
    height: 100vh;
    background: #000;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .5) 100%),url(/img/ubicacion/revolt-6V2vCZ2hYtY-unsplash.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  
}

.mapa__container{
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.ubicacion__titulo{
    color: red;
    margin-left: 50px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    padding-top: 30px;
}

.cacion{
    color: white;
}

.icono-ubicacion{
    background-image: url(/img/ubicacion/icono-ubicacion.svg);
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 40px;
}

/*TECNOLOGIAS*/
.tecnologias{
    height: 100vh;
    background: rgb(27, 38, 49);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #fff;
    font-size: 2.2rem;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .5) 100%),url(/img/tecnologias/fondo/ales-nesetril-Im7lZjxeLhg-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tecnologia__title{
    display: flex;
}

.tecnologia__title p{
    color: red;
}

.contenedor_tecnologias{
    height: fit-content;
    /* background: inherit; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2px;
    justify-content: center;
    /* align-items: center; */
    align-content: center;
    
}

.tecnologia{
    background: inherit;
    width: 150px;
    height: 150px;
    min-width: 128px;
    min-height: 120px;
    cursor: pointer;
    background-image: url(/img/tecnologias/bxl-c-plus-plus.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.tecnologia:hover{
    transform: scale(1.1);
    box-shadow: -2px 2px 15px 10px rgb(0, 0, 0, .5);
    backdrop-filter: blur(5px);
}

.tecnologia-2{
    background-image: url(/img/tecnologias/bxl-flutter.svg);
}
.tecnologia-3{
    background-image: url(/img/tecnologias/bxl-firebase.svg);
}
.tecnologia-4{
    background-image: url(/img/tecnologias/bxl-html5.svg);
}
.tecnologia-5{
    background-image: url(/img/tecnologias/bxl-css3.svg);
}
.tecnologia-6{
    background-image: url(/img/tecnologias/bxl-javascript.svg);
}

/*FOOTER*/
.footer{
   padding: 40px;
    height: 50vh;
    background: rgb(37, 6, 6);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.logo-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

.logo-footer{
    display: flex;
    flex-direction: row;
    font-size: 3.5rem;
    color: #fff;
}

.iot-footer{
    font-weight: bold;
    font-size: 4rem;
}

.frase-footer{
    color: #fff;
    font-size: 1.4rem;
}

/*LOADER*/

.lds-ring {
    display: inline-block;
    position: relative;      
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.loader{
    background: rgba(0, 0, 0, 0.994);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100000;
    clip-path: circle(150% at 100% 0);
    transition: clip-path .7s 3s ease-in-out;
}

.loader2{
    clip-path: circle(0% at 100% 100%);

}

.reloj{
    color: #fff;
    background: #000;
    font-family: monospace;
    /* padding: 5px; */
    font-size: 1rem;
    min-width: 200px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/*Contacto Mail*/

.contacto{
    font-family: 'Montserrat', sans-serif;
    background: #f2f2f2;
    height: 100vh;
    display: flex;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, .7) 100%),url(/img/contacto/damian-zaleski-RYyr-k3Ysqg-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.form{
    background-color: rgba(255, 255, 255, 0.566);
    backdrop-filter: blur(5px);
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
}

.form__container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.form__title{
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4em;
}

.form__input{
    font-family: inherit;
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2em;
}

.form__input--message{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}

.form__cta{
    font-family: inherit;
    background-color: #089fe0;
    color: #fff;
    border: none;
    font-weight: 300;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
    font-weight: 400;
}
.form__cta:hover{
    background-color: #0886bc;
    font-weight: bold;
}

@media (max-width:450px){
    .form{
        padding: 3.5em 1em;
    }
}


/*MEDIA QUERRIES*/
@media screen and (max-width:780px){
    .header{
        height: 13vh;
    }

    .logo{
        font-size: 2.2rem;
    }
    
    .nav__opcion-inicio{
        display: block;
    }

    .menu{
        display: initial;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 30px;
        right: 40px;
        z-index: 100;
        background-image: url(/img/icons/menu-hambuerguesa.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #2f2e2e67;
        border: none;
        
    }

    .nav{
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgb(0, 0, 0, .8);
        z-index: 50;
        font-size: 1.5rem;
        transform: translate(110%);
        transition: transform .4s ease;
        border-left: solid 2px #fff;
        backdrop-filter: blur(5px);
    }
    .nav-translate{
        transform: translate(0%);
    }

    .showcase__frase{
        margin-top: 100px;
    }
    
    .servicio__contenedor{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
    
    .tecnologia{
        width: 140px;
        height: 140px;
    }

    .contenedor_tecnologias{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:540px){
    .nav{
        font-size: 1.5rem;
    }
    .tecnologia{
        width: 120px;
        height: 120px;
    }
    .contenedor_tecnologias{
        grid-template-columns: repeat(2, 1fr);
    }
    .tecnologias{
        font-size: 2rem;
    }
}

@media screen and (max-width:400px){
    .nav{
        font-size: 1.2rem;
    }
    .tecnologia{
        width: 120px;
        height: 120px;
    }
    
}