@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*LOADER*/

.lds-ring {
    display: inline-block;
    position: relative;      
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}


.loader{
    background: rgba(0, 0, 0, 0.994);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100000;
    clip-path: circle(150% at 100% 0);
    transition: clip-path .7s 3s ease-in-out;
}

.loader2{
    clip-path: circle(0% at 100% 100%);

}

.reloj{
    color: #fff;
    background: #000;
    font-family: monospace;
    /* padding: 5px; */
    font-size: 1rem;
    min-width: 200px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}



body{
    width: 100%;
    height: 100vh;
    background-image:  linear-gradient(to top, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, .6) 100%), url(/temp-img/background/pexels-heorhii-heorhiichuk-6632993.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: 'Lato', sans-serif;
}

.atras{
    position: absolute;
    top: 10px;
    left: 20px;
    width: fit-content;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.atras:hover{
    background: #f2f2f2;
    color: #000;
    font-weight: bold;
}

.container{
    width: 85%;
    height: 65vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container h1{
    margin-top: 18px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    cursor: pointer;
    color: #f2f2f2;
}

.hidro__container{
    width: 900px;
    height: 400px;
    display: flex;
}

.imagen__container{
    width: 40%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.imagen__container img{
    width: 180px;
}

.texto__container{
    min-width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.texto__container ul li{
    list-style: none;
    margin: 20px 0px;
    color: #f2f2f2;
}

.fa-solid{
    margin-right: 5px;
    color: rgb(16, 237, 127);
}

.download{
    width: 200px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    bottom: 50px;
    right: 20px;
    display: flex;
}

.android{
    width: 50%;
    height: 100%;
    position: relative;
}

.android img{
    width: 100%;
    height: 100%;
}

.android a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ios{
    width: 50%;
    height: 100%;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.ios img{
    width: 100%;
    height: 95%;
}

.ios a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width:760px) {
    body{
        background-position: center center;
    }    
    .container{
        width: 90%;
    }
    .container h1{
        margin-top: 150px;
        margin-bottom: 80px;
    }
    .atras{
        font-size: 13px;
        padding: 6px 12px;
        top: 5px;
        left: 8px;
    }
    .hidro__container{
        width: 60%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

    }
    .texto__container{
        align-items: center;
        justify-content: center;
        width: 400px;
    }
    .texto__container ul{
        /* background: rgb(0, 0, 0, .5); */
        width: 90%;
        border-radius: 5px;
        padding: 5px;
    }
    .texto__container ul li{
        margin: 10px 0px;
        font-size: .9rem;
    }
    .imagen__container{
        width: 100%;
        height: 90%;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    .imagen__container img{
        width: 85px;
    }
    .download{
        bottom: 25px;
        right: 20px;  
    }
}



